html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@keyframes loading-keyframes {
  0% { background: url('../public/Loading/Frame1.png');}
  40% { background: url('../public/Loading/Frame2.png');}
  60% { background: url('../public/Loading/Frame3.png');}
  80% { background: url('../public/Loading/Frame4.png');}
  100% { background: url('../public/Loading/Frame5.png');}
}